.body{
    font-family: 'Rubik', sans-serif;
}
.font-8xl{ font-size: 3rem; }
.font-6xl{ font-size: 2rem; }
.font-4xl{ font-size: 1.5rem; }
.font-3xl{ font-size: 1rem; }
.bg-gray-500-op-20{background-color:rgba(155,155,155,0.5)}
.bg-yellow-400-op-60{background-color:rgba(253, 240, 0, 0.6)}
.bg-red-700-op-60{background-color:rgba(245, 6, 6, 0.603)}